/*src\components\join.css*/

@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #D8E3FA, #FAFBFF); /* 그라데이션 배경색 설정 */
}

* {
  font-family: 'GmarketSansMedium', sans-serif;
}

.HelloText{
  font-size: 18px;
  font-weight: bold;
}

.BoxStyle {
  width: 70%;
  padding: 100px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px -3px #B5B7C0;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

.BackButton {
  /* width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px; */
  cursor: pointer;
}

.InputBoxStyle{
  width: 400px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px #B5B7C0;
  outline: none;
}

.InputBoxStyle::placeholder {
  color: #757575;
  font-size: 14px;
  font-family: 'Gmarket Sans', sans-serif;
}

.RedText{
  font-size: 15px;
  color: #F28F6B;
  font-weight: bold;
}

.SignUpButton{
  width: 200px;
  background-color: #5366BA;
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bold;
}

.SignUpButton:hover {
  background: linear-gradient(to right, #435399, #001165); /* 마우스 호버 시 그라데이션 배경색 변경 */
}

.SignUpText{
  color: white;
  font-size: 15px;
}
.VerticalLine {
  border-left: 1px solid black;
  margin-left: 30px;
  margin-right: 20px;
  height: 70%;
  position: absolute;
  left: 55%;
}

.SocialText{
  font-size: 15px;
  font-weight: bold;
}

.Google{
  width: 175px;
  height: 40px;
  cursor: pointer;
}

.LeftContent {
  padding-right: 50px;
  flex-direction: column;
}

.RightContent {
  margin-left: 150px;
  align-items: center;
}